// Components
// Breadcrumb


.breadcrumb {
  a {
    padding-right: 1rem;
    position: relative;
    color: inherit;

    &:after {
      content: "\/";
      position: absolute;
      top: 2px;
      right: 5px;
      line-height: 1;
    }
  }

  .\--active {
    color: lighten($type-color, 15%);
    cursor: default;
  }

  &.\+dot {
    a:after { content: "\00b7"; }
  }

  &.\+icon {
    a:after {
      font-family: "feathericons";
      top: 4px;
    }

    &.\+chevron {
      a:after {
        content: "\e922";
        right: 0;
      }
    }

    &.\+arrow {
      a {
        padding-right: 1.5rem;

        &:after { content: "\e90d"; }
      }
    }
  }

  a:last-child:after { display: none; }
}
