// Components
// Masthead


.masthead {
  @extend .fs--smooth;
  @include make-section();
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  overflow: visible;
  z-index: $z-1;

  .__logo {
    max-width: 240px;
    padding: 1rem 0;

    @include mqbp-up(t) {
      max-width: 270px;
    }

    @include mqbp-up(d) {
      max-width: 280px;
    }

    @include mqbp-up(w) {
      max-width: 350px;
    }
  }

  .__logo__image {
    max-width: 100%;
    max-height: 2.5rem;
  }

  .__toggler {
    position: relative;
    overflow: hidden;
    height: auto;
    font-size: 2rem;
    line-height: 1;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #888;
    padding-right: 0;

    &:focus { outline: none; }

    &.menu-is-open {
      font-size: 1.5rem;
      color: #999;
    }

    @include mqbp-up(d) {
      display: none;
      width: 0;
      height: 0;
      float: none;
    }
  }

  .__list {
    padding-left: 0;
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0;
    clear: both;
    padding-top: 1rem;

    > .__item { display: block; }

    @include mqbp-up(d) {
      padding-top: 0;
      margin: 0;

      > .__item { display: inline-flex; }
    }
  }

  .__item {
    position: relative;
    padding: 0;
    margin: 0;

    @include mqbp-up(d) {
      margin: 1.25rem 0.75rem;
    }
  }

  .__link,
  .__item a {
    position: relative;
    display: block;
    padding: 1rem 1.25rem 1rem 0;
    font-size: 19px;
    color: lighten($type-color, 70%);
    border-bottom: 1px solid rgba(lighten($type-color, 70%), 0.2);

    &:hover,
    &:focus {
      text-decoration: none;
      color: lighten($type-color, 70%);
    }

    &:after {
      font-family: "feathericons", sans-serif;
      content: "\e922";
      position: absolute;
      right: 0;
      vertical-align: middle;
      font-size: 24px;
      line-height: 1.2;
    }

    @include mqbp-up(d) {
      padding: 1rem 0;
      font-size: $fs-sm;
      color: #333;
      border: 0 none;

      &:after { content: none; }

      &:hover,
      &:focus { color: darken($type-color, 15%); }
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid rgba(177, 177, 177, 0.3);
  }

  .__item.\--active > a,
  .\--active > .__link {
    font-weight: bold;
    color: lighten($type-color, 80%);

    @include mqbp-up(d) {
      color: $type-color;
      cursor: default;
    }
  }

  .__submenu {
    display: none;
    padding-top: 0;
    padding-left: 1.5rem;
    list-style: none;
    height: auto;
  }

  .\+children {
    &.__item > a,
    > .__link {
      &:after {
        content: "\e970";

        @include mqbp-up(d) {
          content: none;
        }
      }
    }

    &.submenu-open.__item > a,
    &.submenu-open > .__link {
      &:after {
        content: "\e922";
        color: #666;

        @include mqbp-up(d) {
          content: none;
        }
      }
    }

    @include mqbp-up(d) {
      .__submenu {
        display: block;
        position: absolute;
        height: 0;
        max-height: 0;
        width: 0;
        top: 2.5rem;
        opacity: 0;
        right: 0;
        overflow: hidden;
        background-color: transparent;
        border: 1px solid $gray-200;
        border-radius: 2px;
        z-index: 200;
        transition:
          opacity $transition,
          background-color $transition,
          top $transition;

        .__item { margin: 0 0.75rem; }

        .__item > a,
        .__link {
          font-size: ($fs-sm * 0.95);
          line-height: 1.2;
          padding: 0.5rem 0;
          color: inherit;
          text-decoration: none;

          &:hover,
          &:focus {
            color: $red;
          }
        }

        &:after {
          transform: rotate(45deg);
          content: '';
          position: absolute;
          top: -5px;
          right: 1rem;
          width: 9px;
          height: 9px;
          border-left: 1px solid $gray-200;
          border-top: 1px solid $gray-200;
          background-color: #fff;
        }
      }

      &:hover {
        .__submenu {
          height: auto;
          background-color: $white;
          overflow: scroll;
          max-height: 25rem;
          width: 13rem;
          top: 3.35rem;
          opacity: 1;
          padding: 1rem !important;
        }
      }
    }
  }

  //
  // Modifiers

  // position the nav over an image or background
  &.\--overlay {
    position: absolute;

    > .__toggler { color: #fff; }

    @include mqbp-up(d) {
      right: 0;

      .__item a,
      .__link,
      .\--active>.__link,
      .\--active.__item > a {
        color: #fff;
      }
    }
  }

  .\+icon {
    a {
      svg {
        width: 20px;
        height: 20px;
      }

      @include mqbp-up(d) {
        padding-bottom: 0 !important;
        color: rgba($type-color, 0.7);

        svg {
          margin-bottom: -2px;
          width: 18px;
          height: 18px;
        }
      }
    }

    &:last-child a { 
      padding-right: 0;
      padding-bottom: 0.75rem;
    }
  }

  &.\+chevron {
    @include mqbp-up(d) {
      .\+children {
        margin: 1.25rem 0 !important;

        > .__link {
          padding-left: 0.5rem;
          padding-right: 1.75rem;

          &:before { // 'before' because 'after' competes with other modifiers
            content: "\e920" !important;
            position: absolute;
            font-family: "feathericons", sans-serif;
            color: $gray-200;
            font-size: 1rem;
            top: 15px;
            right: 6px;
          }
        }
      }
    }
  }

  // add a border to the bottom of active nav link
  &.\+border {
    @include mqbp-up(d) {
      .__list:not(.\--utility) {
        .__item:not(.\+icon) > .__link,
        .__item:not(.\+icon) > a {
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            bottom: -1px;
            left: 0;
            right: 0;
            border-bottom-width: 3px;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            transition: border-bottom $transition
          }

          &:hover {
            &::after {
              border-bottom-color: rgba($red, 0.75);
            }
          }
        }

        .\--active > .__link,
        .\--active.__item > a {
          &::after {
            border-bottom-color: $red;
          }
        }
      }

      .\+children {
        .__item > a,
        .__link {
          border-bottom: 0 none !important;
        }
      }
    }
  }

  &.\--megamenu {
    @include mqbp-up(d) {
      .__list,
      .__item { position: static; }

      .\+children {
        .__item { margin: 0; }

        // > .__link { border-bottom: 4px solid transparent; }

        .__link {
          &:focus:not(:hover) {
            background-color: transparent !important;
            color: $type-color !important;
          }
        }

        .__submenu {
          display: flex;
          flex-wrap: wrap;
          padding: 0 3rem !important;
          top: 4.5rem;
          left: 0;
          right: 0;
          background-color: $gray-100;
          max-height: 0;
          min-width: 0;
          width: 100%;
          border-radius: 0;
          border: 0 none;
          box-shadow: 0px 2px 1px 0 rgba($black, 0);
          overflow: hidden;
          transition: max-height 0.4s ease 0.1s,
                      box-shadow 0.1s ease 0s;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-top: 1px solid $gray-200;
            width: 1%;
            transition: width 0.6s ease;
          }

          > li {
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-bottom: 0;
          }

          .__item > a,
          .__link {
            @include type-sm();
            padding: 0.5rem 0 !important;
            color: inherit;

            &:hover,
            &:focus {
              background-color: $type-color;
              color: #fff;
              text-decoration: none;
            }
          }

          ul {
            padding-left: 0;
            list-style: none;

            .__link {
              margin: 0;
              color: inherit;
              transition: color 0.15s ease;

              &:hover,
              &:active {
                background-color: transparent !important;
                color: $type-link !important;
              }
            }
          }

          .__link.\--heading {
            font-size: 1.15rem;
            padding-top: 0;
            padding-bottom: 0.75rem;
            margin-right: 0;
            border-bottom: 1px solid rgba($black, 0.3);
            transition:
              border-bottom $transition,
              color $transition;

            &:hover {
              background-color: transparent;
              color: $type-link;
              border-bottom: 1px solid rgba($black, 0.6);
            }
          }

          &:after { display: none; }

          .\--feature {
            padding-left: 1.5rem;
            background-color: rgba($gray-400, 0);
            transition: background 0.4s ease 0s;
          }
        }

        &:hover {
          .__item { margin: 0; }

          > a,
          > .__link {
            border-bottom-color: rgba($type-color, 0.25);

            &:after { color: $gray-400; }
          }

          .__submenu {
            max-height: 20rem;
            z-index: 300;
            box-shadow: 0px 2px 1px 0 rgba($black, 0.1);
            transition: max-height 0.4s ease 0.1s,
                        box-shadow $transition,
                        color $transition 0.3s;

            &:before { width: 100%; }

            > .\--feature {
              background-color: rgba($gray-400, .15);
              transition: background 0.3s ease 0.1s;
            }
          }
        }
      }

      &.bg--black {
        .\+children {
          > .__link {
            &:focus { color: $white !important; }
          }

          .__submenu {
            background-color: $black !important;

            &::before {
              border-top-color: $gray-600;
            }

            .__link {
              border-bottom: 1px solid transparent;

              &:hover,
              &:focus {
                border-bottom-color: rgba($white, 0.325);
                background-color: transparent !important;
                color: $red !important;
              }

              &.\--heading {
                border-bottom: 1px solid rgba($white, 0.1);

                &:hover,
                &:focus {
                  border-bottom: 1px solid rgba($white, 0.5);
                }
              }
            }
          }
        }
      }
    }
  }

  &.\+utility {
    .__list:not(.\--utility) {
      @include mqbp-up(d) {
        .__item {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
        }

        margin-top: 3rem;

        > .__item > .__link {
          padding-top: 0.25rem;
          padding-bottom: 1rem;

          &:before { top: 4px; }
        }
      }

      @include mqbp-up(w) {
        margin-top: 3.125rem;

        > .__item > .__link { padding-bottom: 1.35rem; }
      }
    }

    .\+children .__submenu {
      @include mqbp-up(d) { top: 2.5rem; }
      @include mqbp-up(w) { top: 2.825rem; }
    }

    &.\--megamenu {
      .\+children .__submenu {
        @include mqbp-up(d) { top: 5.5rem; }
        @include mqbp-up(w) { top: 5.95rem; }
      }
    }
  }

  .\--utility {
    .__link {
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      font-size: $fs-root;
    }

    @include mqbp-up(d) {
      @include make-section();
      padding-top: 0;
      padding-left: 0 !important;
      padding-bottom: 0;
      z-index: $z-max;

      .__item {
        margin: 0;
        border-right: 1px solid rgba($type-color, 0.3);

        &:last-child {
          border-right: 0 none;

          a,
          .__link { padding-right: 0; }
        }
      }

      position: absolute !important;
      top: 1.25rem;
      right: 0;

      .__link {
        padding: 0 0.5rem;
        font-size: $fs-xs;
        color: rgba($type-color, 0.7);
      }
    }

    @include mqbp-up(w) {
      top: 1.5rem;
    }
  }

  &.\--logo-md {
    .__logo__image {
      max-height: 3.25rem;
    }
  }

  &.\--logo-lg {
    .__logo__image {
      max-height: 3.75rem;
    }
  }
}

.__drawer {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: auto;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  max-width: 35rem;
  background-color: $gray-800;
  z-index: 1000;
  transform: translateX(-100%);
  transition:
    transform 0.375s ease-in,
    visibility 0.375s ease-in;

  .__toggler { margin-top: 1.125rem; }

  @include mqbp-up(d) {
    position: static;
    width: auto;
    max-width: none;
    padding: 0;
    margin-left: 1rem;
    top: auto;
    left: auto;
    visibility: visible;
    background-color: transparent;
    transition: none;
    transform: none;
    overflow-y: visible;
  }
}

.masthead {
  &.\--megamenu .\+children .__submenu {
    display: none;
    flex-wrap: wrap;

    @include mqbp-up(d) { display: flex; }
  }

  &.bg--black {
    &::after {
      border-bottom-color: $gray-400;
    }

    @include mqbp-up(d) {
      .__link {
        color: rgba($white, 0.8) !important;

        &:hover {
          color: rgba($white, 1) !important;
          background-color: transparent !important;
        }
      }
      .\+children {
        &:hover,
        &:focus {
          .__submenu {
            background-color: $black;
            border-color: $gray-400;

            .__link {
              color: $gray-100 !important;

              &:hover {
                color: $white !important;
              }
            }

            &::after {
              background-color: $black;
              border-color: $gray-300;
            }
          }
        }
      }
    }
  }
}


@keyframes bump {
  0% { margin-left: 1rem; margin-right: 1rem; }
  15% { margin-left: 1.5rem; margin-right: 0.5rem; }
  55% { margin-left: 0.75rem; margin-right: 1.25rem; }
  100% { margin-left: 1rem; margin-right: 1rem; }
}

.menu-open {
  .masthead {
    .__drawer {
      visibility: visible;
      transform: translateX(0);

      .hidden--up\@d {
        .__logo { margin-left: 1rem; }
        .__toggler { margin-right: 1rem; }
      }

      .__logo,
      .__toggler,
      .__list {
        animation: bump 0.375s ease 0.375s;
      }
    }
  }
}

.menu-is-open {
  @include mqbp-up(d) { display: none; }
}

.\--overlay + main {
  > .\--hero,
  > .\--banner,
  > .article > .\--banner {
    > .__header {
      margin-top: 3rem;

      @include mqbp-up(d) {
        margin-top: 4rem;
      }
    }
  }
}

@include mqbp-up(d) {
  .full {
    .\--megamenu .\+children .__submenu {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }

    .\--utility { right: 0; }
  }

  .contain {
    .\--megamenu .\+children .__submenu {
      padding-right: 7rem !important;
      padding-left: 7rem !important;
    }

    .\--utility { right: 4rem; }
  }
}

// restated for focus-within seperately from hover,
// as IE and Edge will completely ignore all
// definitions if grouped together :\
@include mqbp-up(d) {
  .masthead .\+children {
    &:focus-within {
      .__submenu {
        height: auto;
        background-color: $white;
        overflow: visible;
        max-height: 20rem;
        width: 13rem;
        opacity: 1;
        padding: 1rem;
      }
    }
  }

  .masthead.bg--black .\+children {
    &:focus-within {
      .__submenu {
        background-color: $black;
        border-color: $gray-400;

        &::after {
          background-color: $black;
          border-color: $gray-300;
        }
      }
    }
  }

  .masthead.\--megamenu .\+children {
    &:focus-within {
      .__submenu {
        height: auto;
        background-color: $white;
        overflow: visible;
        max-height: 20rem;
        z-index: 300;
        width: auto;
        opacity: 1;
        padding: 1rem;
        box-shadow: 0px 2px 1px 0 rgba($black, 0.1);
        transition: max-height 0.4s ease 0.1s,
                    box-shadow $transition,
                    color $transition 0.3s;

        &:before { width: 100%; }

        > .\--feature {
          background-color: rgba($gray-400, .15);
          transition: background 0.3s ease 0.1s;
        }
      }

      .__item { margin: 0; }

      > a,
      > .__link {
        border-bottom-color: rgba($type-color, 0.25);

        &:after { color: $gray-400; }
      }
    }
  }
}
