// Components
// Media Object


.media {
  @extend .w--100;
  box-shadow: $box-shadow-inset;
  transition: box-shadow $transition;
  margin-bottom: 1rem;

  &:hover { box-shadow: $box-shadow-inset-hover; }

  .__link {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    color: inherit;
    height: 100%;
    overflow: hidden;
    @extend %clearfix;

    &:hover,
    &:focus {
      text-decoration: none;
      color: inherit;
    }
  }

  .__graphic {
    position: relative;
    background: #555;
    overflow: hidden;
    border-radius: 3rem;
    box-shadow: none;
    margin: 0 1rem 0 0;
    flex: 0 0 3rem;
    height: 3rem;
  }

  .__graphic__img {
    position: absolute;
    max-height: 130%; // min for 3:4 portrait images
    max-width: 180%; // min for 16:9 landscape images
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .__body {
    flex: 1;

    p:last-child { margin-bottom: 0; }
  }

  .__title {
    line-height: 1.3;
    font-weight: 900;
    margin-bottom: 0;
  }

  .__copy { font-size: $fs-sm; }

  // --
  // Modifiers

  // position __graphic to right (default assumes left)
  &.\--right {
    .__body { order: 1; }

    .__graphic {
      order: 2;
      margin: 0 0 0 1rem;
    }
  }

  // alter __graphic into a rectangle
  &.\--rect {
    .__graphic {
      border-radius: 0;

      @include mqbp-up(t) {
        flex: 0 0 8rem !important;
        height: 5.5rem !important;
      }
    }

    .__graphic__img {
      max-height: 200%; // min for 16:9 portrait images
      max-width: 200%; // min for 3:4 landscape images

      @include mqbp-up(t) {
        max-height: 170%; // min for 16:9 portrait images
        max-width: 160%; // min for 3:4 landscape images
        top: 65%; // prevent head crop on portrait images
      }
    }
  }
}
