// Layout Utility
// CSS Columns
//
// .columns--<value>

$count: 2;
@while $count <= 4 {
  .columns--#{$count}   { column-count: #{$count}; }

  @each $breakpoint in map-keys($breakpoints) {
    @include mqbp-up($breakpoint) {
      .columns--#{$count}\@#{$breakpoint}   { column-count: #{$count}; }
      .columns--none\@#{$breakpoint}   { column-count: initial; }
    }
  }

  $count: $count + 1; // increment size
}

.columns--none   { column-count: initial; }
