// Layout Utility
// Displays
//
// .d<side>--<value>


.d--none { display: none; }
.d--block { display: block; }
.d--inline-block { display: inline-block; }
.d--inline { display: inline; }
.d--table { display: table; }
.d--table-row { display: table-row; }
.d--table-cell { display: table-cell; }
.d--flex { display: flex; }
.d--inline-flex { display: inline-flex; }
