// Layout Utility
// Position
//
// .pos--<value>


.pos--static    { position: static !important; }
.pos--fixed     { position: fixed !important; }
.pos--absolute  { position: absolute !important; }
.pos--relative  { position: relative !important; }
.pos--sticky    {
  position: sticky !important;
  top: 1rem;
}

// --
// Pin positioning

.pin {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pin--none {
  width: auto;
  height: auto;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

.pin--t { top: 0; }
.pin--r { right: 0; }
.pin--b { bottom: 0; }
.pin--l { left: 0; }

// center an item within container
.pin--c {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pin--x {
  right: 0;
  left: 0;
}

.pin--xc {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

.pin--y {
  top: 0;
  bottom: 0;
}

.pin--yc {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
}
