// Layout Utility
// Z-Index
//
// .z--<value>

.z--behind  { z-index: $z-behind; }
.z--0       { z-index: $z-0; }
.z--1       { z-index: $z-1; }
.z--2       { z-index: $z-2; }
.z--3       { z-index: $z-3; }
.z--4       { z-index: $z-4; }
.z--5       { z-index: $z-5; }
.z--max     { z-index: $z-max; }
