// Styles
// Main imports

// get the font [normally called in kernl(wp) head]
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i');

// Global Variables
@import "01.global/variables/colors";
@import "01.global/variables/layout";
@import "01.global/variables/misc";
@import "01.global/variables/sizing";
@import "01.global/variables/typography";

// Global Methods
@import "01.global/methods/colors";
@import "01.global/methods/layout";
@import "01.global/methods/media-queries";
@import "01.global/methods/misc";
@import "01.global/methods/sizing";
@import "01.global/methods/typography";

// Baseline
@import "02.baseline/document";
@import "02.baseline/typography";
@import "02.baseline/lists";
@import "02.baseline/tables";
@import "02.baseline/forms";
@import "02.baseline/media";

// Structure
@import "03.structure/column";
@import "03.structure/form";
@import "03.structure/section";

// Components
@import "04.components/_variables";
@import "04.components/_methods";
@import "04.components/button";

// Layout
@import "05.utilities/layout/columns";
@import "05.utilities/layout/displays";
@import "05.utilities/layout/position";
@import "05.utilities/layout/visibility";

// Typography
@import "05.utilities/typography/color";
@import "05.utilities/typography/font-family";
@import "05.utilities/typography/font-size";
@import "05.utilities/typography/font-weight";
@import "05.utilities/typography/letter-spacing";
@import "05.utilities/typography/line-height";
@import "05.utilities/typography/lists";
@import "05.utilities/typography/measure";
@import "05.utilities/typography/style-decoration";
@import "05.utilities/typography/text-alignment";
@import "05.utilities/typography/text-shadow";
@import "05.utilities/typography/vertical-alignment";
@import "05.utilities/typography/whitespace-wrapping";
@import "05.utilities/typography/word-break";

// Backgrounds
@import "05.utilities/backgrounds/color";
@import "05.utilities/backgrounds/size";

// Borders
@import "05.utilities/borders/color";
@import "05.utilities/borders/radius";
@import "05.utilities/borders/style";
@import "05.utilities/borders/width";

// Flexbox
@import "05.utilities/flexbox/alignment";
@import "05.utilities/flexbox/direction";
@import "05.utilities/flexbox/grow-shrink";
@import "05.utilities/flexbox/order";
@import "05.utilities/flexbox/wrapping";

// Spacing
@import "05.utilities/spacing/margin";
@import "05.utilities/spacing/offset";
@import "05.utilities/spacing/padding";

// Sizing
@import "05.utilities/sizing/height";
@import "05.utilities/sizing/width";

// Interactivity
@import "05.utilities/interactivity/cursor";
@import "05.utilities/interactivity/pointer";
@import "05.utilities/interactivity/resize";
@import "05.utilities/interactivity/user-select";

// Misc
@import "05.utilities/misc/accessibility";
@import "05.utilities/misc/appearance";
@import "05.utilities/misc/box-shadow";
@import "05.utilities/misc/clears";

.wufoo {
  * { font-family: $type-sans; }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
  }

  button,
  input { overflow: visible; }

  button,
  select { text-transform: none; }

  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] { -webkit-appearance: button; }

  [role="button"] { cursor: pointer; }

  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

  fieldset {
    min-width: 0;
    border: 1px solid #c0c0c0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    font-size: 1rem;
    white-space: normal;
    line-height: inherit;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
  }

  label {
    display: inline-block;
    margin-bottom: 0.25rem;
    padding-top: 0.5rem;
    color: $gray-500;
    font-size: $fs-sm;
    line-height: 1.2;

    &:hover { cursor: pointer; }
  }

  progress {
    display: inline-block;
    vertical-align: baseline;
  }

  textarea {
    overflow: auto;
    resize: vertical;
  }


  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] { -webkit-appearance: listbox; }

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button { height: auto; }

  [type="search"] {
    -webkit-appearance: none;
    outline-offset: -2px;
  }

  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  .info {
    h2 + div { padding-bottom: 2rem; }
  }

  > ul {
    @extend .ls--none;
  }

  input {
    margin-bottom: 1rem;

    &.text { @extend input, [type="text"]; }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="file"],
  input[type="number"],
  input[type="tel"],
  input[type="url"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="range"],
  textarea,
  select {
    display: inline-block;
    width: auto;
    max-width: 80%;
  }

  .medium,
  .full {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="file"],
    input[type="number"],
    input[type="tel"],
    input[type="url"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="range"],
    textarea,
    select {
      width: 100%;
    }
  }

  //
  // Textual form controls
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="file"],
  input[type="number"],
  input[type="tel"],
  input[type="url"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="range"],
  textarea,
  select {
    // @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: $gray-600;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid $gray-200;
    border-radius: 1px;

    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
      background-color: transparent;
      border: 0;
    }

    // Placeholder
    &::placeholder {
      color: $gray-400;
      opacity: 1; // for Firefox
    }

    // Disabled and read-only inputs
    &:disabled,
    &[readonly] {
      background-color: $gray-200;
      opacity: 1; // for iOS
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:focus {
      outline-color: $gray;
      outline-width: 3px;
    }
  }

  select {
    &:not([size]):not([multiple]) {
      $select-border-width: 2px;
    }

    &:focus::-ms-value {
      // Suppress the nested default white text on blue background highlight given to
      // the selected option text when the (still closed) <select> receives focus
      // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
      // match the appearance of the native widget.
      // See https://github.com/twbs/bootstrap/issues/19398.
      color: $gray-600;
      background-color: #fff;
    }
  }

  // Make file inputs better match text inputs by forcing them to new lines.
  input[type="file"],
  input[type="range"] {
    display: block;
    padding: 0;
    background: none;
    box-shadow: none;
    border: 0 none;
    @include type-sm();
    margin: 3px 0;
  }

  ////

  li.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  label.desc,
  legend.desc {
    font-weight: 400;
  }

  label.choice { width: auto; }

  span.req { color: $red !important; }

  .focused {
    background-color: $gray-50;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  .col { padding: 0; }

  .radio,
  .checkbox {
    margin-top: 0.35rem;

    + .choice {
      padding-top: 0;
      margin-right: 2rem;
    }
  }

  input.checkbox { display: inline-block !important; }

  .desc {
    display: block;

    ~ span,
    ~ div span {
      display: inline-block;

      > .field {
        display: block;
        margin-bottom: 0;

        + label:not(.choice) {
          padding-top: 0.125rem;
          font-size: $fs-xs;
        }
      }
    }
  }

  .file { margin-bottom: 1rem !important; }

  .submit {
    @extend .btn;
  }
}
