// Misc Utility
// Accessibility
//


.sr,
.sr--only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.skip {
  position: absolute;
  top: -100px;
  height: 1px;
  width: 100%;
  padding: 0 1rem;
  text-align: left;
  overflow: hidden;
  font-weight: 700;
  margin: 0;
  background-color: #c00;
  color: #fff;
  text-decoration: none;
  border: 0 none;

  &:focus,
  &:active {
    position: relative;
    display: block;
    top: 0;
    width: 100%;
    height: auto;
    padding: 1rem;
    overflow: visible;
    z-index: 5000;
    outline: none;
  }
}
