// Misc Utility
// Rotations
//
// .rotate--<value>


.rotate--45   { transform: rotate(45deg); }
.rotate--90   { transform: rotate(90deg); }
.rotate--135  { transform: rotate(135deg); }
.rotate--180  { transform: rotate(180deg); }
.rotate--225  { transform: rotate(225deg); }
.rotate--270  { transform: rotate(270deg); }
.rotate--315  { transform: rotate(315deg); }
