// Variables
// Layout


// Width options
$widths: (
  '10': 10%,
  '20': 20%,
  '25': 25%,
  '30': 30%,
  '40': 40%,
  '50': 50%,
  '60': 60%,
  '70': 70%,
  '75': 75%,
  '80': 80%,
  '90': 90%,
  '100': 100%,
  '1\\/3': 33.33333%,
  '2\\/3': 66.66667%,
  '1\\/4': 25%,
  '1\\/2': 50%,
  '3\\/4': 75%,
  '1\\/6': 16.66667%,
  '5\\/6': 83.33333%,
  'auto': auto
);

// Columns
$col-prefix: '\\-' !default;

// padding-l/r for 'body.--contain'
$contain-width: 10% !default;

// Gutter widths
$gutter-base: 1rem !default;
$gutter-t: 30px !default;
$gutter-w: 36px !default;

$gutters: (
  t: $gutter-t,
  w: $gutter-w
) !default;

// Breakpoints
$breakpoints: (
  t: 720px,
  d: 992px,
  w: 1280px
) !default;

// z-index
$z-behind:  -1 !default;
$z-0:       0 !default;
$z-1:       1000 !default;
$z-2:       2000 !default;
$z-3:       3000 !default;
$z-4:       4000 !default;
$z-5:       5000 !default;
$z-max:     9999 !default;
