// Typography Utility
// Font Family
//
// .ff--<family>


.ff--sans   { font-family: $type-sans !important; }
.ff--serif  { font-family: $type-serif !important; }
.ff--mono   { font-family: $type-mono !important; }
