// Typography Utility
// Line Height
//
// .lh--<size>


.lh--inherit { line-height: inherit; }
.lh--tight  { line-height: $line-height-tight; }
.lh--normal { line-height: $line-height-normal; }
.lh--loose  { line-height: $line-height-loose; }
