// Typography Utility
// Vertical Alignment
//
// .va--<value>


.va--base { vertical-align: baseline; }
.va--m    { vertical-align: middle; }
.va--t    { vertical-align: top; }
.va--b    { vertical-align: bottom; }
