@import "../src/styles/main.scss";

html { background-color: #333; }

.chrm {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-left: auto!important;
  margin-right: auto!important;
  max-width: 1700px;
  background: #fff;
}

.k_header {
  z-index: 100;
  width: 100%;
  padding: .75rem 1.25rem;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
  transition: background .3s ease;

  &:hover {
    background: rgba(0, 0, 0, 1);
  }
}

.home .k_header {
  display: none;
}

.k_logo {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.2s ease;

  b { font-weight: 900; }

  &:hover {
    color: rgba(255, 255, 255, 1.0);
  }
}

.k_logo--home,
.k_logo--home:hover {
  color: rgba(0, 0, 0, 0.8);
}

.k_nav__toggle {
  color: #fff;
  padding-right: 0.5rem;
  margin-bottom: -0.3rem;
}

.k_nav__separator {
  color: #777;
  padding: 0 0.25rem;
  margin-bottom: -0.4rem;
}

.k_wrap {
  display: flex;
  flex: 1;
  flex-direction: column;

  @include mqbp-up(d) {
    flex-direction: row;
  }
}

.part--carousel {
  .k_wrap {
    @include mqbp-up(d) {
      flex-direction: column !important;
    }
  }
}

.k_nav {
  flex: 0 0 auto;
  order: -1;
  padding: 0.625rem 1rem 1rem 0;
  background: rgba(0, 0, 0, 0.1);

  .k_logo { display: none; }

  @include mqbp-up(t) {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    border-right: 1px dotted rgba(0, 0, 0, 0.1);
    transform: translateX(-90%);
    transition: all 0.2s ease;
    z-index: 1100;
    overflow-y: scroll;

    &:hover,
    &:focus,
    &.k_nav__active {
      transform: translateX(0);
      background: rgba(229, 229, 229, 0.99);
      border-right: 0 none;
      box-shadow: $box-shadow;

      .k_logo {
        display: block;
        padding: 0.75rem 0 0.85rem 1.25rem;
        color: rgba(255, 255, 255, 0.3);
        background: rgba(0, 0, 0, 0.85);
      }
    }
  }

  @include mqbp-up(d) { transform: translateX(-95%); }
}


.k_nav {
  @include mqbp-up(t) {
    &:focus-within {
      transform: translateX(0);
      background: rgba(229, 229, 229, 0.99);
      border-right: 0 none;
      box-shadow: $box-shadow;

      .k_logo {
        display: block;
        padding: 0.75rem 0 0.85rem 1.25rem;
        color: rgba(255, 255, 255, 0.3);
        background: rgba(0, 0, 0, 0.85);
      }
    }
  }
}

.k_nav__list {
  columns: 3;

  @include mqbp-up(t) {
    columns: initial;
    padding: 0.5rem 0 4rem;
  }
}

.k_nav__item {
  display: block;
  font-size: 0.875rem;
  padding: 0.25rem 2rem 0.25rem 1rem;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0);
  border-left-width: 0.25rem;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0);
  transition: border-left-color 0.2s ease,
              color 0.2s ease,
              background-color 0.2s ease;

  &:hover {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.5);
    border-left-color: rgba(0, 0, 0, 0.3);
  }

  &.k_nav__item--active {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    border-left-color: rgba(0, 0, 0, 0.5);

    &:hover { cursor: default; }
  }
}

.k_main {
  flex: 1;
  position: relative;
}

.k_footer {
  color: rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem 1rem 1rem;
  text-align: center;

  a {
    color: #fff;
  }
}

.k_section { padding: 1rem; }

.k_section__header {
  padding: 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  margin-bottom: 1.5rem;
}

.k_bg-light { background: rgb(240, 240, 240); }
.k_bg-dark {
  color: #fff;
  background: rgb(80, 80, 80);

  .k_section__header { border-bottom-color: rgba(255, 255, 255, 0.3); }
}

#contSelect {
  li {
    margin-top: 2px;
    margin-bottom: 0;
  }

  a {
    &:hover { color: $gray-100; }

    &.\--active,
    &.\--active:hover,
    &.\--active:active {
      font-weight: bold;
      color: $gray-400;
      cursor: default;
    }
  }
}

// home
.home .section > div {
  max-width: 1800px;
  margin: 0 auto;
}

// homepage cards
.card.\--sg-home {
  margin-top: 0;
  min-height: 100px;
  max-height: 150px;
  transition: background 0.2s ease;

  .__title {
    @extend .fs--smooth;

    text-transform: capitalize;
    transition: all 0.25s ease;
    color: $white;
    padding-bottom: 0;
    font-weight: 200;
    text-shadow: none;
  }

  .__link {
    &:after {
      display: none;
      height: 0;
    }

    img {
      width: 100%;
      max-height: 300%;
      filter: grayscale(1);
      opacity: 0.2;

      @include mqbp-up(t) {
        width: auto;
        max-width: 300%;
        height: 100%;
      }

      @include mqbp-up(w) {
        min-width: 100%;
        max-width: 130%;
        height: auto;
      }
    }
  }

  &:hover {
    background: desaturate($teal, 10%);
    box-shadow: none;

    .__title {
      font-size: 1.2rem;
      color: #fff;
      padding-bottom: 0.125rem;
      text-shadow: 0 7px 14px rgba(0,0,0,0.2);
    }

    .__link { box-shadow: inset 0 0 4rem rgba(0,0,0,0.125); }
  }
}

// docs structure syntax is different than real-world kernl(wp) html
.\--overlay {
  + .\--hero,
  + .\--banner {
    > .__header {
      margin-top: 3rem;

      @include mqbp-up(d) {
        margin-top: 4rem;
      }
    }
  }
}


// badge presentation
.badge__wrapper {
  @include margin-bottom-gutter();
  position: relative;
  width: 100%;
  height: 200px;
  box-shadow: 0 1px 0.25rem 0 rgba(0,0,0,0.25);
  background-size: cover;
  background-position: 50% 50%;
  text-shadow: none !important;
}


//
// Grid demonstration styles
.k_grid {
  > .section { padding-top: 0; }

  .col-content {
    overflow: hidden;
    background: #309aa8;
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    padding: 8px;
    font-size: 0.75rem;
    font-family: "Source Code Pro", monospace;
  }

  .section .col-content .section {
    text-align: left;
    color: #eee;
  }

  .section .section .col-content { border: 1px solid #aed8da; }

  .\--nogutters {
    .col-content {
      border-right: 1px solid #aed8da;
      border-bottom: 1px solid #aed8da;
    }

    .col:last-child {
      .col-content {
        border-right: 0 none;
      }
    }

    .row:last-child {
      .col-content {
        border-bottom: 0 none;
      }
    }
  }

  .non-col-element {
    margin: 0;
    font-weight: normal;
  }

  .\--banner .non-col-element { color: #eee; }

  h3 { font-size: 1rem; }
  small { font-size: 0.825rem; }
}

.k_grid-lines {
  .row {
    background-size: 100% 100%;
    background-repeat: none;
  }
}

.fw--n { font-weight: 400; }

.text-style-block {
  @extend .fs--smooth;

  font-family: 'Changa', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.7;
}

code {
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  font-size: 0.95em; // not rem; adopt sibling size
  padding: 0 4px;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  white-space: nowrap;
}

p, li, td, th, dt, dd {
  code {
    line-height: 1;
    background-color: rgba($yellow, 0.25);
  }
}


//
// Colors 2018
//

.k_color-nav.nav.\--tabbed {
  .__list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
  }

  .__item {
    margin-right: 1px;
    flex: 1;
    height: 2rem;
  }

  .__link {
    // background-color: transparent;
    text-indent: -9999px;
    padding: 0;
    height: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    transition:
      height 0.2s ease,
      margin-top 0.2s ease,
      margin-bottom 0.2s ease;

    &:hover {
      margin-top: 0;
      margin-bottom: 0;
      height: 2rem;
    }

    &.\--active {
      margin-top: 0;
      margin-bottom: 0;
      height: 2rem;
      border: 0 none;
    }
  }
}

.k_hover-state {
  font-size: $fs-sm;
  padding: 0.5rem 1rem;
}

.k_color {
  padding: 1rem;
  margin-bottom: 1rem;

  h3,
  h5 {
    font-weight: 900;
    margin-bottom: 0.25rem;
  }
}


//
// Colors 2017+
//

$black-alpha: rgba(0, 0, 0, 0.7);

.color-cell {
  > .col > div {
    @include margin-bottom-gutter();
    @extend .fs--smooth;

    height: auto;
    padding: 0.75rem;
    font-size: 0.825rem;
    font-weight: 900;
    line-height: 1.3rem;

    @include mqbp-up(t) {
      font-size: 0.75rem;
    }

    @include mqbp-up(t) {
      font-size: 0.825rem;
    }
  }

  .hex-color {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
  }
}
