// Baseline
// Forms


button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
}

button,
input { overflow: visible; }

button,
select { text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] { -webkit-appearance: button; }

[role="button"] { cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  min-width: 0;
  border: 1px solid #c0c0c0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  font-size: 1rem;
  white-space: normal;
  line-height: inherit;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}

label {
  display: inline-block;
  margin-bottom: 0.25rem;
  padding-top: 0.5rem;
  color: $gray-500;
  font-size: $fs-sm;
  line-height: 1.2;

  &:hover { cursor: pointer; }
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[tabindex="-1"]:focus { outline: none !important; }

[type="checkbox"],
[type="radio"] {
  padding: 0;
  margin: 0.15rem 0.25rem 0 0;
  box-sizing: border-box;
  vertical-align: top;

  &:disabled { cursor: not-allowed; }
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] { -webkit-appearance: listbox; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] {
  -webkit-appearance: none;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

output { display: inline-block; }

//
// Textual form controls
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="file"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="range"],
textarea,
select {
  // @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: $gray-600;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid $gray-200;
  border-radius: 1px;

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Placeholder
  &::placeholder {
    color: $gray-400;
    opacity: 1; // for Firefox
  }

  // Disabled and read-only inputs
  &:disabled,
  &[readonly] {
    background-color: $gray-200;
    opacity: 1; // for iOS
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline-width: 3px;
  }
}

select {
  &:not([size]):not([multiple]) {
    $select-border-width: 2px;
  }

  &:focus::-ms-value {
    // Suppress the nested default white text on blue background highlight given to
    // the selected option text when the (still closed) <select> receives focus
    // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
    // match the appearance of the native widget.
    // See https://github.com/twbs/bootstrap/issues/19398.
    color: $gray-600;
    background-color: #fff;
  }
}

// Make file inputs better match text inputs by forcing them to new lines.
input[type="file"],
input[type="range"] {
  display: block;
  padding: 0;
  background: none;
  box-shadow: none;
  border: 0 none;
  @include type-sm();
  margin: 3px 0;
}
