// Baseline
// Tables


table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &.\--striped tr:nth-child(even) {
    background-color: $gray-100;
  }
}

td, th {
  @include type-sm();
  margin: 0;
  padding: .75rem;
  border-width: 1px;
  border-style: solid;
  border-color: $gray-200;
  vertical-align: top;
  line-height: 1.4;
}

th { text-align: left; }

caption {
  color: $gray-400;
  text-align: left;
  caption-side: bottom;
  font-size: $fs-sm;
  margin-top: 0.25rem;
}
